# Node modules - specifcally, files installed with inquirer
node_modules/

# Folder to contain all generated READ ME files - should be empty
generated-readme/

# Notepad file for sandboxing, do not need in repository.
example-answers.js

# Project brief - description file that is not needed in the repo.
homework-userstory.md