# Node modules - specifcally, files installed with inquirer
node_modules/

# Folder to contain all generated READ ME files - should be empty
# Currently is required for program to run correctly - would like to change this.
# generated-readme/

# Sandbox folder, used for storing notes and test files
sandbox/

# Project brief - description file that is not needed in the repo.
homework-userstory.md

# Generated README files
generated-readme/